
<!-- tmspecials -->
<div id="tmspecials" class="home_block">
    <a class="tmspecials_title" href="javascript:void();" title="Specials">Hotline</a>
    <div class="block_content">
        <ul>
            <li>
                <div>
                    <img src="@Href("~/Content/images/hotline.jpg")" />
                </div>
                <div>
                    <strong>(+84) 0121 557 5358</strong><br />
                    <strong>(+84) 0128 625 6602</strong>
                </div>
            </li>
            <li>
                <div>
                    <a href="skype:live:ngocmai.vo?chat">
                        <img src="@Href("~/Content/images/skype.png")" />
                    </a>
                </div>
                <div>
                    <a href="skype:live:ngocmai.vo?chat"><strong>Giải khát Ngọc Mai Line chính</strong></a>
                </div>
            </li>
            <li>
                <div>
                    <a href="skype:thanhngan990?chat">
                        <img src="@Href("~/Content/images/skype.png")" />
                    </a>
                </div>
                <div>
                    <a href="skype:thanhngan990?chat">
                        <strong>Giải khát Ngọc Mai Line phụ</strong>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div class="clearblock"></div>
</div>
<!-- /tmspecials -->
