@model GiaiKhatNgocMai.Models.Customer
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Giải khát Ngọc Mai - Lấy lại mật khẩu</title>
</head>
<body>
    <h4 style="color:blue;">Yêu cầu lấy lại mật khẩu cho tài khoản của @Model.CustomerName</h4>
    <div style="width:500px;">
        <p style="font-weight:bold;">
            <span>Ai đó đã yêu cầu gửi lại mật khẩu của tài khoản khách hàng của bạn.</span><br /><br/>
            <span>Tên đăng nhập: @Model.CustomerEmail</span><br />
            <span>Password: @Model.CustomerPassword</span><br /><br />
            <span style="font-style:italic;">Bạn có thể đổi password mới ở trang quản lý tài khoản của bạn.</span>
            <br /><br />
            <span style="font-style:italic; color:maroon;">Nếu bạn không phải người yêu cầu lấy lại mật khẩu xin vui lòng bỏ qua mail này.</span><br />
        </p>
        <p style="float:right;">
            <img src="cid:signature" style="margin-bottom:10px;" /><br />
            Skype: <a href="skype:live:ngocmai.vo?chat">Giải khát Ngọc Mai</a><br />
            Website: <a href="http://www.giaikhatngocmai.com">Giải khát Ngọc Mai Website</a><br />
            Hotline: 01215 575 358 [Zalo] - [Viber]
        </p>
    </div>
</body>
</html>
